@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body{
    height: 100vh;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right,rgb(191, 200, 173), hsl(43, 37%, 77%) );
    overflow:auto;
    
    

}

main{
    width:80vw;
    min-height: 80vh;
}

#todos{
    position:relative;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(235, 16%, 39%);
    padding-top:2rem;  

}

#form{
    display:flex;
    justify-content:center;
    width:100%;
    background-color: hsl(235, 16%, 39%);
    border-radius: 5px;

}

#form input{
    width:80%;
    min-height: 3rem;
    color:#718F94;
    
    font-size: 1.2rem;
    padding: 3px;

    
}

#btn{
    background-image: linear-gradient(to right, #718F94, #90B494);
    border:none;
    border-radius: 2px;
    padding:0.5rem;
    margin-left:.2rem;

}

#todosList{
    position:relative;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(235, 16%, 39%);
    padding-top:2rem; 
    min-height: 70vh;

}

.todoItem{
    display:none !important;
}

.checkable{
    cursor:pointer;
}

#states{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:100%;
}

#states div{
    display: flex;
    align-items: center;
    position:relative;
    width:100%;
    min-width:100%;
    min-height: 2rem;
   
}

#filter-by-status{
    display:flex;
    justify-content: space-around;
    margin:0.1rem;
    align-items: center;
    position:relative;
    width:33%;
    min-width:33%;
}

#filter-by-status a{
    margin:0.2rem;
}
#leftItems, #completes{
    display:flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size:0.8rem;
}

a{
    text-decoration: none;
    color:#90B494;
   
}

p{
    margin:0;
    padding:0;
    display: inline;
    color:#90B494;
}

.divItem{
    position: relative;
    width:90%;
    border-top:1px solid #DBCFB0;
    padding:0.5rem;
    color:#BFC8AD;
    background: transparent;
    z-index:100; 
   
}
.divItem i{
    pointer-events: none;
}

.divItem label{
    margin-left:5px;
    display:inline-block;
    pointer-events: none;
   
}
.divItem label::first-letter{
    text-transform: capitalize;
}

.completed{
    text-decoration: line-through;
}

.active{
    color:#DBCFB0;
}

@media screen and (min-width: 481px){
    .text{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 769px){

    .text{
        font-size: 1.5rem;
    }

    #states{
        display:flex;
        justify-content:center;
        align-items: center;
        width:100%;
    }
} 

@media screen and (min-width: 1024px){

    .text{
        font-size: 1.8rem;
    }

    #states{
        flex-direction: row;
        justify-content:center;
        align-items: center;
        width:100%;
        margin-bottom:1rem;
    }

    #states div{
        width:33%;
        min-width:33%;
        min-height: 2rem;
       
    }
} 
